In [36]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import metrics
import warnings
warnings.filterwarnings('ignore')

In [37]:
df=pd.read_csv('Data.csv')
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [42]:
y=df['Purchased']
X=df.drop(['Purchased'],axis=1)

# DATA PREPROCESSING

## Replacing Missing Values

In [46]:
from sklearn.impute import SimpleImputer
missingvalues = SimpleImputer(missing_values = np.nan, strategy = 'mean', verbose = 0)
missingvalues = missingvalues.fit(X.iloc[:, 1:3])
X.iloc[:, 1:3]=missingvalues.transform(X.iloc[:, 1:3])
X

   Country        Age        Salary
0   France  44.000000  72000.000000
1    Spain  27.000000  48000.000000
2  Germany  30.000000  54000.000000
3    Spain  38.000000  61000.000000
4  Germany  40.000000  63777.777778
5   France  35.000000  58000.000000
6    Spain  38.777778  52000.000000
7   France  48.000000  79000.000000
8  Germany  50.000000  83000.000000
9   France  37.000000  67000.000000

## Categorical Data

In [56]:
# Encoding categorical data

# Encoding the Independent Variable
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct = ColumnTransformer([('encoder', OneHotEncoder(), [0])], remainder='passthrough')
X = np.array(ct.fit_transform(X), dtype=np.float)

# Encoding Y data
from sklearn.preprocessing import LabelEncoder
y = LabelEncoder().fit_transform(y)

## Splitting of Dataset

In [57]:
#Splitting of dataset
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

## Feature Scaling

In [59]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)
sc_y =StandardScaler()
y_train = sc_y.fit_transform(y_train.reshape(-1,1))

array([[-1.        ,  1.        , -1.        ,  1.        , -1.        ,
         2.64575131, -0.77459667,  0.26306757,  0.12381479],
       [ 1.        , -1.        ,  1.        , -1.        ,  1.        ,
        -0.37796447, -0.77459667, -0.25350148,  0.46175632],
       [-1.        ,  1.        , -1.        ,  1.        , -1.        ,
        -0.37796447,  1.29099445, -1.97539832, -1.53093341],
       [-1.        ,  1.        , -1.        ,  1.        , -1.        ,
        -0.37796447,  1.29099445,  0.05261351, -1.11141978],
       [ 1.        , -1.        ,  1.        , -1.        ,  1.        ,
        -0.37796447, -0.77459667,  1.64058505,  1.7202972 ],
       [-1.        ,  1.        , -1.        ,  1.        , -1.        ,
        -0.37796447,  1.29099445, -0.0813118 , -0.16751412],
       [ 1.        , -1.        ,  1.        , -1.        ,  1.        ,
        -0.37796447, -0.77459667,  0.95182631,  0.98614835],
       [ 1.        , -1.        ,  1.        , -1.        ,  1.        ,
        -0.37796447, -0.77459667, -0.59788085, -0.48214934]])